%h1 New issue

- if current_user.projects.present?
  = render 'form'
- else
  %p You don't have any projects to assign issues to. Add a project in order to create new issues.

= link_to 'Back', issues_path
