<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id='chart'></div>

<script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawMouseoverVisualization);

// barsVisualization must be global in our script tag to be able
// to get and set selection.
var barsVisualization;

function drawMouseoverVisualization() {
	
	var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Year');
	        data.addColumn('number', 'Sales');
	        data.addColumn('number', 'Expenses');
	        data.addRows([
	          ['January', 1000, 400],
	          ['February', 1170, 460],
	          ['March', 660, 320],
	          ['April', 330, 140],
	          ['April', 230, 240],
	          ['April', 730, 140]
	        ]);
	

	barsVisualization = new google.visualization.ColumnChart(document.getElementById('chart'));

	barsVisualization.draw(data, {
	width: 1000, 
	height: 300,
	colors: ['#537085', '#EEEEEE'],
	chartArea: {left:40,top:30, width:"75%",height:"70%"},
	legendTextStyle: {color:'#666666'}});
	
}

</script>


