%h1 Freelance Deck
%h2 Open source project management and issue tracking for freelancers
%p Freelance deck is an open source business management tool for freelancers and small businesses.

.span-4

.span-4

.span-4.last
