%h3= pluralize @issues.size, 'Issue'

- if @issues.present?

  %table
    %tr
      %th Issue
      %th Last updated

    - @issues.each do |issue|
      %tr
        %td= issue.title
        %td= pretty_date issue.updated_at