%h2 Recent activity

- @projects.each do |project|
  %div.update
    %h3 New Project
    %p== #{@user.full_name} created the project #{project.title}
    %p== #{time_ago_in_words project.created_at} ago