/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@charset "UTF-8";
/* --------------------------------------------------------------
 * Gravity CSS
 * Developed by: Owain Lewis
 * www.owainlewis.com
 * License: MIT
 * http://www.opensource.org/licenses/mit-license.php
 *-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

html {
  font-size: 62.5%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  line-height: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 14px; }

p {
  margin-bottom: 20px; }

img {
  margin-bottom: 10px; }

ol, ul, dl {
  padding: 0; }

ol {
  margin-bottom: 20px;
  margin-left: 20px; }
  ol ol {
    margin-bottom: 0; }

ul {
  margin-bottom: 20px;
  list-style: disc; }
  ul li {
    margin-bottom: 0;
    margin-left: 0px; }
    ul li ul {
      margin-left: 20px;
      margin-bottom: 10px; }

ul.unstyled {
  list-style: none; }
  ul.unstyled li {
    margin-left: 0; }

dl {
  margin-bottom: 20px; }
  dl dt {
    font-weight: bold;
    margin-bottom: 5px; }
  dl dd {
    margin-bottom: 0; }

/*
Useful defaults
*/
img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62); }

/* Misc Element Styles */
abbr, acronym {
  border-bottom: 1px dotted black; }

address {
  font-style: italic; }

del {
  color: black; }

blockquote {
  display: block;
  font-weight: bold;
  border-left: 4px solid #eeeeee;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 30px;
  font-size: 3.0rem;
  font-family: serif;
  font-style: italic;
  color: #666666;
  line-height: 1.35;
  margin: 20px 0; }

pre, code {
  margin: 10px 0;
  white-space: pre; }

pre, code, tt {
  font: "Andale Mono WT", Monaco, "Courier New", Courier, monospace;
  line-height: 1.5;
  padding: 0 3px 2px;
  background: #FFFFEE; }

q {
  font-style: italic;
  font-weight: bold;
  font-family: “Hoefler Text”, Palatino, “Palatino Linotype”, serif; }

cite {
  display: block;
  font-weight: bold; }

figcaption {
  display: block;
  font-weight: bold;
  font-style: italic; }

small {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif; }

strong {
  font-weight: bold; }

hr {
  height: 5px; }

/* --------------------------------------------------
:: Links
-------------------------------------------------- */
a {
  color: #0069d6;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #0050a3; }

a:focus {
  color: #0050a3;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 40px; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 10px; }

h2 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 10px; }

h3 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px; }

h4 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px; }

h5 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px; }

h6 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px; }

.span-1 {
  float: left;
  width: 4.255%;
  margin-right: 0;
  margin-right: 2.128%; }
  .span-1:last-child {
    margin-right: 0; }

.span-2 {
  float: left;
  width: 10.638%;
  margin-right: 2.128%; }
  .span-2:last-child {
    margin-right: 0; }

.span-3 {
  float: left;
  width: 17.021%;
  margin-right: 2.128%; }
  .span-3:last-child {
    margin-right: 0; }

.span-4 {
  float: left;
  width: 23.404%;
  margin-right: 2.128%; }
  .span-4:last-child {
    margin-right: 0; }

.span-5 {
  float: left;
  width: 29.787%;
  margin-right: 2.128%; }
  .span-5:last-child {
    margin-right: 0; }

.span-6 {
  float: left;
  width: 36.17%;
  margin-right: 2.128%; }
  .span-6:last-child {
    margin-right: 0; }

.span-7 {
  float: left;
  width: 42.553%;
  margin-right: 2.128%; }
  .span-7:last-child {
    margin-right: 0; }

.span-8 {
  float: left;
  width: 48.936%;
  margin-right: 2.128%; }
  .span-8:last-child {
    margin-right: 0; }

.span-9 {
  float: left;
  width: 55.319%;
  margin-right: 2.128%; }
  .span-9:last-child {
    margin-right: 0; }

.span-10 {
  float: left;
  width: 61.702%;
  margin-right: 2.128%; }
  .span-10:last-child {
    margin-right: 0; }

.span-11 {
  float: left;
  width: 68.085%;
  margin-right: 2.128%; }
  .span-11:last-child {
    margin-right: 0; }

.span-12 {
  float: left;
  width: 74.468%;
  margin-right: 2.128%; }
  .span-12:last-child {
    margin-right: 0; }

.span-13 {
  float: left;
  width: 80.851%;
  margin-right: 2.128%; }
  .span-13:last-child {
    margin-right: 0; }

.span-14 {
  float: left;
  width: 87.234%;
  margin-right: 2.128%; }
  .span-14:last-child {
    margin-right: 0; }

.span-15 {
  float: left;
  width: 93.617%;
  margin-right: 2.128%; }
  .span-15:last-child {
    margin-right: 0; }

.span-16 {
  float: left;
  width: 100%;
  margin-right: 2.128%; }
  .span-16:last-child {
    margin-right: 0; }

.last {
  margin-right: 0 !important; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border: 1px solid #049cdb;
  color: #444444; }

textarea {
  min-height: 100px;
  resize: none;
  overflow: auto;
  width: 100%; }

label,
legend {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px; }

select {
  width: 100%; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444444; }

input,
button,
select,
textarea {
  vertical-align: middle;
  margin-bottom: 20px; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 1px;
  /* IE8, IE9, IE10 */
  top: 0 \0;
  /* IE7 */
  *top: -1px;
  margin-right: 5px; }

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px; } }
/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-color: #cccccc #cccccc #cccccc;
  color: black;
  padding: 8px 9px 9px 9px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font: 12px Helvetica, Arial, sans-serif;
  margin: 0 0 18px 0;
  width: 100%;
  display: block;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

::-webkit-input-placeholder {
  color: #666666; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666666;
  font-size: 12px; }

:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0; }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: #cccccc;
    color: white;
    font: Helvetica, Arial, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px; }

  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    display: none; } }
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal; }

button[type=submit], input[type='submit'] {
  padding: 10px 12px 7px 12px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #111111;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#333333));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #111111, #333333);
  /* for firefox 3.6+ */
  border: 0;
  color: white; }

.input-list {
  list-style: none;
  margin: 0 0 20px 0; }
  .input-list li {
    padding-top: 0;
    list-style: none; }
    .input-list li input {
      margin-bottom: 0; }
    .input-list li label {
      font-weight: normal;
      padding-top: 0; }

table {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd; }

th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #666666;
  border-right: 1px solid #ddd; }

td {
  padding: 5px 9px 14px 9px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; }

th {
  padding: 5px 9px 12px 9px; }

tr:nth-child(even) {
  background: #f5f5f5; }

tfoot {
  font-style: italic; }

caption {
  background: #ffffcc; }

/* Don't use native buttons on iOS */
input[type=submit].button {
  -webkit-appearance: none; }

.button, input.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #e6e6e6;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#cccccc));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #e6e6e6, #cccccc);
  /* for firefox 3.6+ */
  cursor: pointer;
  font-weight: bold;
  color: #333333;
  display: inline-block;
  border: 1px solid #bfbfbf;
  text-align: center;
  padding: 8px 12px 4px 12px;
  min-height: 26px;
  line-height: 26px;
  min-width: 80px; }
  .button:hover, input.button:hover {
    background: #d9d9d9;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#e6e6e6));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #d9d9d9, #e6e6e6);
    /* for firefox 3.6+ */ }

.button.main {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #17b8fb;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#17b8fb), to(#049cdb));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #17b8fb, #049cdb);
  /* for firefox 3.6+ */
  cursor: pointer;
  font-weight: bold;
  color: white;
  display: inline-block;
  border: 1px solid #048ac2;
  text-align: center;
  padding: 8px 12px 4px 12px;
  min-height: 26px;
  line-height: 26px;
  min-width: 80px; }
  .button.main:hover {
    background: #04aef4;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#04aef4), to(#17b8fb));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #04aef4, #17b8fb);
    /* for firefox 3.6+ */ }

.button.delete {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #c83025;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#c83025), to(#9d261d));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #c83025, #9d261d);
  /* for firefox 3.6+ */
  cursor: pointer;
  font-weight: bold;
  color: white;
  display: inline-block;
  border: 1px solid #872119;
  text-align: center;
  padding: 8px 12px 4px 12px;
  min-height: 26px;
  line-height: 26px;
  min-width: 80px; }
  .button.delete:hover {
    background: #b32b21;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b21), to(#c83025));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #b32b21, #c83025);
    /* for firefox 3.6+ */ }

/*

Avoid misc classes in markup wherever possible. These are mainly for mocking.

*/
.wrap {
  width: 1128px;
  margin: 0 auto; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.titlecase {
  text-transform: capitalize; }

.invisible {
  visibility: hidden; }

.serif {
  font-family: “Hoefler Text”, Palatino, “Palatino Linotype”, serif; }

.sans {
  font-family: Helvetica, Arial, sans-serif; }

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, #flash_failure, #flash_success, #flash_notice {
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 19px;
  padding: 10px;
  height: 19px;
  line-height: 19px; }

div.error, #flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

div.error a, #flash_failure a {
  color: #D12F19; }

div.notice, #flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134; }

div.notice a, #flash_notice a {
  color: #817134; }

div.success, #flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214; }

div.success a, #flash_success a {
  color: #529214; }

/*-----------------------------------

 Your CSS goes here

-----------------------------------*/
body {
  background: #F5F5F5; }

.container {
  max-width: 90%px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden; }

#sidebar {float:left;width:200px;height:100%;background:#333;min-height:1500px;margin-right:40px;padding-top:40px;}
#sidebar li {list-style:none;height:80px;line-height:80px;border-bottom:1px solid #555;overflow:hidden;padding-left:20px;}
#sidebar a {color:#eee;font-size:16px;}
#main {float:left;min-width:900px;max-width:1200px;padding-top:80px;}
#nav {position:absolute;top:0;height:40px;background:#222;width:100%;}
#nav ul {float:right;width:100%;}
#nav li {list-style:none;display:inline;line-height:40px;margin-left:20px;}
#nav a {color:#fff;}

#devise #login {width:300px;margin:0 auto;}

