/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/

@import "lib/core";

/*-----------------------------------

Your CSS goes here

-----------------------------------*/

.stack > *:not(.active) {
  display: none;
}

html {
  background: #D9DFE4;
}

body {
  min-height: 100%;
  overflow-y: scroll;
  background: #D9DFE4;
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.container {
  max-width: 978px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

#nav {
  height: 40px;
  background:darken($dark-blue,9%);
  width: 100%;
  margin-bottom: 20px;
  position:relative;
  z-index:99;
}
#nav ul {
  float: right;
}
#nav li {
  display: inline;
  line-height: 40px;
  margin-right: 20px;
}
#nav a {
  color: #fff;
}

#sidebar {
  width: 220px;
  background: $blue2;
  margin: 40px 20px 0 0;
  position: absolute;
  top: 0px;
  height: 100%;

  li {
    list-style: none;
    border-bottom: 1px solid darken($blue2, 5%); 
    padding: 20px 0;
    cursor: pointer
  }
  li:hover {
    background: darken($dark-blue, 5%);
    a {color:#FFF};
	}
  li.active {
    background: darken($dark-blue, 10%);
    a {color:#FFF};
  }
  a {
    color: #fff;
    margin-left: 20px;
    padding-top: 10px;
    text-transform: uppercase;
  }
  li span {
    display: block;
    color: #999;
    font-style: italic;
    margin-left: 20px;
  }
}

#main {
  max-width: 1100px;
  margin-left: 243px;
  overflow: auto;
  min-height:500px;
  background: #fff;
  border:1px solid $borders;
  padding: 20px;@include border-radius(5px)
}

.update {
  background: $off-white;
  min-height: 100px;
  padding: 20px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-top: 10px solid #999;
}
.update:nth-child(even) {
  border-top: 10px solid $dark-blue;
}
.blue {
  border-top: 10px solid #6499a3;
}
.red {
  border-top: 10px solid #a36f64;
}
.green {
  border-top: 10px solid #92a677;
}

#error_explanation {
  background: #eee;
  padding: 10px 20px;
  margin: 20px 0;
  h2 {
    font-size: 18px;
    color: #3d334a;
  }
}

#errors {
  margin: 20px 0;
  color: #770000;
}

#user_stats {
  margin: 40px 0;
  li {
    display: inline;
    font-size: 72px;
    margin-right: 20px;
    color: #2c2a34;
    span {
      font-size: 18px;
      color: #544e64;
    }
  }
}

#login {
  width: 440px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;

  #error_explanation h2 {
    font-size: 14px;
  }
}

#home_nav {
  width: 100%;
  height: 40px;
  background: #2c2a34;;
  li {
    line-height: 40px;
    margin-left: 20px;
  }
  li a {
    color: #fff;
  }
}

.project_meta {
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  li {
    display: inline;
    margin-right: 10px;
  }
}

#api_key {
  margin: 0 0 40px 0;
  display: block;
  width: 400px;
}
.alert {
  margin: 20px 0;
}
.message {
  background: #f6f6f6;
  border: 1px solid #eee;
  padding: 10px;@include border-radius(5px);
}
.field.date select {
  width: 180px;
  float: left;
  margin-right: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #CCC;
}

#chart {
  display: block;
  width:1000px;
  height:300px;
  margin: 40px 0 20px 0;
}

#dashboard_chart {
  display: block;
  margin: 0;
}

body{overflow:hidden;}

/*-----------------------------------

Dashboard

-----------------------------------*/

#dashboard_top {
  overflow:hidden;
  display:block;
  width:100%;
}

#dash_left {
  float:left;
  width:500px;
}

#dash_right {
  float:left;
}

/*-----------------------------------

Sharing CSS

-----------------------------------*/

#share {
  width: 940px;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  -moz-box-shadow: 5px 5px 10px #999;
  -webkit-box-shadow: 5px 5px 10px #999;
  box-shadow: 5px 5px 10px #999;
}
#share img {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}
.share_link {
  display: block;
  text-align: center;
}

/*-----------------------------------

Pagination

-----------------------------------*/

.pagination {
  .prev, .next, .first, .last {display:none;}
}

/*-----------------------------------

Invoices

-----------------------------------*/

