#home h1, #home p {text-align:center;}
#home h2 {text-align:center;}

#home h1 {font-size:36px;}
#home h2 {font-size:18px;opacity:0.7;}

.span-4 {background:#eee;height:200px;border:1px solid #aaa;width:306px;margin-bottom:20px;}