%h1 New upload

- unless current_user.upload_limit_reached?
  = render 'form'
- else
  %p Sorry but you've reached your account upload limit. Why not upgrade for more space?

= link_to 'Back', uploads_path
