!!!5
%html{:class => "no-js", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Freelance Deck
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body#devise

    =yield